<!doctype html>
<html>
<head>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
<title>Astra OPC cliente</title>
</head>
<body>

	<header class="header">
		<div class="title">
			<h1 class="title-header">Cliente OPC Web</h1>
		</div>
		<div class="logo-header">
			<img src="{{ url_for('static', filename='pdvsa.png')}}" alt="logo" class="logo">
		</div>
    </header>

	
	<main>
        <nav class="menu">
			<div class="menu-button">
				<a href="/" class="btn-menu">Variables</a>
			</div>
			<div class="menu-button">
				<a href="/" class="btn-menu">Status</a>
			</div>
			<div class="menu-button">
				<a href="/" class="btn-menu">Grafico</a>
			</div>
			<footer class="footer">
				<p class="text-footer">Desarrollado por el equipo de Automatizacion Petro San Felix</p>
			</footer>
		</nav>
        <div class="grafico">
			<div class="valor valor1">1</div>
			<div class="valor valor2">
				<p id="tag-value1">--</p>
			</div>
			<div class="valor valor3">
				<p>Tn/D</p>
			</div>
			<div class="valor valor4">4</div>
			<div class="valor valor5">5</div>
			<div class="valor valor6">6</div>
			<div class="valor valor7">7</div>
			<div class="valor valor8">8</div>
			<div class="valor valor9">9</div>
			<div class="valor valor10">10</div>
			<div class="valor valor11">11</div>
			<div class="valor valor12">12</div>
			<div class="valor valor13">13</div>
			<div class="valor valor14">14</div>
			<div class="valor valor15">15</div>
			<div class="valor valor16">16</div>
			<div class="valor valor17">17</div>
			<div class="valor valor18">18</div>
			<div class="valor valor19">19</div>
			<div class="valor valor20">20</div>
			<div class="valor valor21">21</div>
			<div class="valor valor22"></div>
			<div class="valor valor23"></div>
			<div class="valor valor24"></div>
			<div class="valor valor25"></div>
			<div class="valor valor26"></div>
			<div class="valor valor27"></div>
			<div class="valor valor28"></div>
			<div class="valor valor29"></div>
			<div class="valor valor30"></div>
			<div class="valor valor31"></div>
			<div class="valor valor32"></div>
			<div class="valor valor33"></div>
			<div class="valor valor34"></div>
			<div class="valor valor35"></div>
			<div class="valor valor36"></div>
			<div class="valor valor37"></div>
			<div class="valor valor38"></div>
			<div class="valor valor39"></div>
			<div class="valor valor40"></div>
			<div class="valor valor41">41</div>
			<div class="valor valor42"></div>
			<div class="valor valor43"></div>
			<div class="valor valor44"></div>
			<div class="valor valor45"></div>
			<div class="valor valor46"></div>
			<div class="valor valor47"></div>
			<div class="valor valor48"></div>
			<div class="valor valor49"></div>
			<div class="valor valor50">
				<p id="tag-value13">--</p>
			</div>
			<div class="valor valor51">
				<p>Deg°C</p>
			</div>
			<div class="valor valor52"></div>
			<div class="valor valor53"></div>
			<div class="valor valor54">
				<p id="tag-value15">--</p>
			</div>
			<div class="valor valor55">
				<p>TIC</p>
			</div>
			<div class="valor valor56"></div>
			<div class="valor valor57">
				<p id="tag-value17">--</p>
			</div>
			<div class="valor valor58">
				<p>Deg°C</p>
			</div>
			<div class="valor valor59">
				<p id="tag-value19">--</p>
			</div>
			<div class="valor valor60">
				<p>PIC</p>
			</div>
			<div class="valor valor61">61</div>
			<div class="valor valor62"></div>
			<div class="valor valor63"></div>
			<div class="valor valor64">
				<p id="tag-value2">--</p>
			</div>
			<div class="valor valor65">
				<p>%</p>
			</div>
			<div class="valor valor66"></div>
			<div class="valor valor67"></div>
			<div class="valor valor68"></div>
			<div class="valor valor69"></div>
			<div class="valor valor70"></div>
			<div class="valor valor71"></div>
			<div class="valor valor72"></div>
			<div class="valor valor73"></div>
			<div class="valor valor74"></div>
			<div class="valor valor75"></div>
			<div class="valor valor76"></div>
			<div class="valor valor77"></div>
			<div class="valor valor78"></div>
			<div class="valor valor79"></div>
			<div class="valor valor80"></div>
			<div class="valor valor81">81</div>
			<div class="valor valor82"></div>
			<div class="valor valor83"></div>
			<div class="valor valor84"></div>
			<div class="valor valor85">
				<p id="tag-value3">--</p>
			</div>
			<div class="valor valor86">
				<p>%</p>
			</div>
			<div class="valor valor87"></div>
			<div class="valor valor88"></div>
			<div class="valor valor89"></div>
			<div class="valor valor90">
				<p id="tag-value14">--</p>
			</div>
			<div class="valor valor91">
				<p>BarG</p>
			</div>
			<div class="valor valor92"></div>
			<div class="valor valor93"></div>
			<div class="valor valor94">
				<p id="tag-value16">--</p>
			</div>
			<div class="valor valor95">
				<p>BarG</p>
			</div>
			<div class="valor valor96"></div>
			<div class="valor valor97"></div>
			<div class="valor valor98">
				<p id="tag-value18">--</p>
			</div>
			<div class="valor valor99">
				<p id="tag-value13">Tn/D</p>
			</div>
			<div class="valor valor100"></div>
			<div class="valor valor101">101</div>
			<div class="valor valor102"></div>
			<div class="valor valor103"></div>
			<div class="valor valor104"></div>
			<div class="valor valor105">
				<p id="tag-value4">--</p>
			</div>
			<div class="valor valor106">
				<p>mmH2O</p>
			</div>
			<div class="valor valor107"></div>
			<div class="valor valor108"></div>
			<div class="valor valor109"></div>
			<div class="valor valor110"></div>
			<div class="valor valor111"></div>
			<div class="valor valor112"></div>
			<div class="valor valor113"></div>
			<div class="valor valor114"></div>
			<div class="valor valor115"></div>
			<div class="valor valor116"></div>
			<div class="valor valor117"></div>
			<div class="valor valor118"></div>
			<div class="valor valor119"></div>
			<div class="valor valor120"></div>
			<div class="valor valor121">121</div>
			<div class="valor valor122"></div>
			<div class="valor valor123"></div>
			<div class="valor valor124"></div>
			<div class="valor valor125">
				<p id="tag-value5">--</p>
			</div>
			<div class="valor valor126">
				<p>mmH2O</p>
			</div>
			<div class="valor valor127"></div>
			<div class="valor valor128"></div>
			<div class="valor valor129"></div>
			<div class="valor valor130"></div>
			<div class="valor valor131"></div>
			<div class="valor valor132">
				<p id="tag-value20">--</p>
			</div>
			<div class="valor valor133">
				<p>LIC</p>
			</div>
			<div class="valor valor134"></div>
			<div class="valor valor135"></div>
			<div class="valor valor136"></div>
			<div class="valor valor137"></div>
			<div class="valor valor138"></div>
			<div class="valor valor139"></div>
			<div class="valor valor140"></div>
			<div class="valor valor141">141</div>
			<div class="valor valor142"></div>
			<div class="valor valor143"></div>
			<div class="valor valor144"></div>
			<div class="valor valor145">
				<p id="tag-value6">--</p>
			</div>
			<div class="valor valor146">
				<p>Deg°C</p>
			</div>
			<div class="valor valor147"></div>
			<div class="valor valor148"></div>
			<div class="valor valor149"></div>
			<div class="valor valor150"></div>
			<div class="valor valor151"></div>
			<div class="valor valor152"></div>
			<div class="valor valor153"></div>
			<div class="valor valor154"></div>
			<div class="valor valor155"></div>
			<div class="valor valor156"></div>
			<div class="valor valor157"></div>
			<div class="valor valor158"></div>
			<div class="valor valor159"></div>
			<div class="valor valor160"></div>
			<div class="valor valor161">161</div>
			<div class="valor valor162"></div>
			<div class="valor valor163"></div>
			<div class="valor valor164"></div>
			<div class="valor valor165">
				<p id="tag-value7">--</p>
			</div>
			<div class="valor valor166">
				<p>mmH2O</p>
			</div>
			<div class="valor valor167"></div>
			<div class="valor valor168"></div>
			<div class="valor valor169"></div>
			<div class="valor valor170"></div>
			<div class="valor valor171">
				<p id="tag-value21">--</p>
			</div>
			<div class="valor valor172">
				<p>Deg°C</p>
			</div>
			<div class="valor valor173"></div>
			<div class="valor valor174"></div>
			<div class="valor valor175"></div>
			<div class="valor valor176"></div>
			<div class="valor valor177"></div>
			<div class="valor valor178">
				<p id="tag-value22">--</p>
			</div>
			<div class="valor valor179">
				<p>Deg°C</p>
			</div>
			<div class="valor valor180"></div>
			<div class="valor valor181">
				<p id="tag-value8">--</p>
			</div>
			<div class="valor valor182">
				<p>Tn/D</p>
			</div>
			<div class="valor valor183"></div>
			<div class="valor valor184"></div>
			<div class="valor valor185"></div>
			<div class="valor valor186"></div>
			<div class="valor valor187"></div>
			<div class="valor valor188"></div>
			<div class="valor valor189"></div>
			<div class="valor valor190"></div>
			<div class="valor valor191"></div>
			<div class="valor valor192"></div>
			<div class="valor valor193"></div>
			<div class="valor valor194"></div>
			<div class="valor valor195"></div>
			<div class="valor valor196"></div>
			<div class="valor valor197"></div>
			<div class="valor valor198"></div>
			<div class="valor valor199"></div>
			<div class="valor valor200"></div>
			<div class="valor valor201">201</div>
			<div class="valor valor202"></div>
			<div class="valor valor203"></div>
			<div class="valor valor204"></div>
			<div class="valor valor205"></div>
			<div class="valor valor206"></div>
			<div class="valor valor207"></div>
			<div class="valor valor208"></div>
			<div class="valor valor209"></div>
			<div class="valor valor210"></div>
			<div class="valor valor211">
				<p id="tag-value24">--</p>
			</div>
			<div class="valor valor212">
				<p>Deg°C</p>
			</div>
			<div class="valor valor213"></div>
			<div class="valor valor214">
				<p id="tag-value25">--</p>
			</div>
			<div class="valor valor215">
				<p>Deg°C</p>
			</div>
			<div class="valor valor216"></div>
			<div class="valor valor217">
				<p id="tag-value26">--</p>
			</div>
			<div class="valor valor218">
				<p>RPM</p>
			</div>
			<div class="valor valor219"></div>
			<div class="valor valor220"></div>
			<div class="valor valor221">221</div>
			<div class="valor valor222"></div>
			<div class="valor valor223"></div>
			<div class="valor valor224"></div>
			<div class="valor valor225"></div>
			<div class="valor valor226"></div>
			<div class="valor valor227"></div>
			<div class="valor valor228"></div>
			<div class="valor valor229"></div>
			<div class="valor valor230"></div>
			<div class="valor valor231">
				<p id="tag-value23">--</p>	
			</div>
			<div class="valor valor232">
				<p>mmH2O</p>
			</div>
			<div class="valor valor233"></div>
			<div class="valor valor234"></div>
			<div class="valor valor235"></div>
			<div class="valor valor236"></div>
			<div class="valor valor237"></div>
			<div class="valor valor238"></div>
			<div class="valor valor239"></div>
			<div class="valor valor240"></div>
			<div class="valor valor241">241</div>
			<div class="valor valor242"></div>
			<div class="valor valor243"></div>
			<div class="valor valor244"></div>
			<div class="valor valor245"></div>
			<div class="valor valor246"></div>
			<div class="valor valor247"></div>
			<div class="valor valor248"></div>
			<div class="valor valor249"></div>
			<div class="valor valor250"></div>
			<div class="valor valor251"></div>
			<div class="valor valor252"></div>
			<div class="valor valor253"></div>
			<div class="valor valor254"></div>
			<div class="valor valor255"></div>
			<div class="valor valor256">
				<p id="tag-value27">--</p>
			</div>
			<div class="valor valor257">
				<p>AIC</p>
			</div>
			<div class="valor valor258"></div>
			<div class="valor valor259"></div>
			<div class="valor valor260"></div>
			<div class="valor valor261">261</div>
			<div class="valor valor262"></div>
			<div class="valor valor263"></div>
			<div class="valor valor264"></div>
			<div class="valor valor265">
				<p id="tag-value9">--</p>
			</div>
			<div class="valor valor266">
				<p>mmH2O</p>
			</div>
			<div class="valor valor267"></div>
			<div class="valor valor268"></div>
			<div class="valor valor269"></div>
			<div class="valor valor270"></div>
			<div class="valor valor271">
				<p id="tag-value30">--</p>
			</div>
			<div class="valor valor272">
				<p>FIC</p>
			</div>
			<div class="valor valor273"></div>
			<div class="valor valor274">
				<p id="tag-value28">--</p>
			</div>
			<div class="valor valor275">
				<p>Deg°C</p>
			</div>
			<div class="valor valor276"></div>
			<div class="valor valor277"></div>
			<div class="valor valor278"></div>
			<div class="valor valor279"></div>
			<div class="valor valor280"></div>
			<div class="valor valor281">281</div>
			<div class="valor valor282"></div>
			<div class="valor valor283"></div>
			<div class="valor valor284"></div>
			<div class="valor valor285"></div>
			<div class="valor valor286"></div>
			<div class="valor valor287"></div>
			<div class="valor valor288"></div>
			<div class="valor valor289"></div>
			<div class="valor valor290"></div>
			<div class="valor valor291"></div>
			<div class="valor valor292"></div>
			<div class="valor valor293"></div>
			<div class="valor valor294">
				<p id="tag-value29">--</p>
			</div>
			<div class="valor valor295">
				<p>BarG</p>
			</div>
			<div class="valor valor296"></div>
			<div class="valor valor297"></div>
			<div class="valor valor298"></div>
			<div class="valor valor299"></div>
			<div class="valor valor300"></div>
			<div class="valor valor301">301</div>
			<div class="valor valor302"></div>
			<div class="valor valor303"></div>
			<div class="valor valor304"></div>
			<div class="valor valor305"></div>
			<div class="valor valor306"></div>
			<div class="valor valor307"></div>
			<div class="valor valor308"></div>
			<div class="valor valor309"></div>
			<div class="valor valor310">
				<p id="tag-value31">--</p>
			</div>
			<div class="valor valor311">
				<p>FIC</p>
			</div>
			<div class="valor valor312">
				<p id="tag-value32">--</p>
			</div>
			<div class="valor valor313">
				<p>FIC</p>
			</div>
			<div class="valor valor314"></div>
			<div class="valor valor315"></div>
			<div class="valor valor316"></div>
			<div class="valor valor317"></div>
			<div class="valor valor318"></div>
			<div class="valor valor319"></div>
			<div class="valor valor320"></div>
			<div class="valor valor321">321</div>
			<div class="valor valor322"></div>
			<div class="valor valor323"></div>
			<div class="valor valor324"></div>
			<div class="valor valor325"></div>
			<div class="valor valor326"></div>
			<div class="valor valor327"></div>
			<div class="valor valor328"></div>
			<div class="valor valor329"></div>
			<div class="valor valor330"></div>
			<div class="valor valor331"></div>
			<div class="valor valor332"></div>
			<div class="valor valor333"></div>
			<div class="valor valor334"></div>
			<div class="valor valor335"></div>
			<div class="valor valor336"></div>
			<div class="valor valor337"></div>
			<div class="valor valor338"></div>
			<div class="valor valor339"></div>
			<div class="valor valor340"></div>
			<div class="valor valor341">341</div>
			<div class="valor valor342"></div>
			<div class="valor valor343"></div>
			<div class="valor valor344"></div>
			<div class="valor valor345"></div>
			<div class="valor valor346">
				<p id="tag-value12">--</p>
			</div>
			<div class="valor valor347">
				<p>Amp</p>
			</div>
			<div class="valor valor348"></div>
			<div class="valor valor349"></div>
			<div class="valor valor350"></div>
			<div class="valor valor351"></div>
			<div class="valor valor352"></div>
			<div class="valor valor353"></div>
			<div class="valor valor354"></div>
			<div class="valor valor355"></div>
			<div class="valor valor356"></div>
			<div class="valor valor357"></div>
			<div class="valor valor358"></div>
			<div class="valor valor359"></div>
			<div class="valor valor360"></div>
			<div class="valor valor361">361</div>
			<div class="valor valor362"></div>
			<div class="valor valor363">
				<p id="tag-value10">--</p>
			</div>
			<div class="valor valor364">
				<p>RPM</p>
			</div>
			<div class="valor valor365"></div>
			<div class="valor valor366"></div>
			<div class="valor valor367"></div>
			<div class="valor valor368"></div>
			<div class="valor valor369"></div>
			<div class="valor valor370"></div>
			<div class="valor valor371"></div>
			<div class="valor valor372"></div>
			<div class="valor valor373">
				<p id="tag-value33">--</p>
			</div>
			<div class="valor valor374">
				<p>Tn/D</p>
			</div>
			<div class="valor valor375"></div>
			<div class="valor valor376"></div>
			<div class="valor valor377"></div>
			<div class="valor valor378"></div>
			<div class="valor valor379"></div>
			<div class="valor valor380"></div>
			<div class="valor valor381">381</div>
			<div class="valor valor382"></div>
			<div class="valor valor383"></div>
			<div class="valor valor384">
				<p id="tag-value11">--</p>
			</div>
			<div class="valor valor385">
				<p>--</p>
			</div>
			<div class="valor valor386"></div>
			<div class="valor valor387"></div>
			<div class="valor valor388"></div>
			<div class="valor valor389"></div>
			<div class="valor valor390"></div>
			<div class="valor valor391"></div>
			<div class="valor valor392"></div>
			<div class="valor valor393"></div>
			<div class="valor valor394"></div>
			<div class="valor valor395"></div>
			<div class="valor valor396"></div>
			<div class="valor valor397"></div>
			<div class="valor valor398"></div>
			<div class="valor valor399"></div>
			<div class="valor valor400"></div>
		</div>
        
    </main>
</body>
</html>